In [1]:
cubic = {i: i**3 for i in range(1, 11)}
print(cubic)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [2]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [3]:
result = {key: val for key, val in dusts.items() if val > 80}
print(result)

{'대전': 82, '중국': 200}

In [4]:
result = {key: ('나쁨' if val > 80 else '보통') for key, val in dusts.items()}
print(result)

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [5]:
result = {key: ('매우나쁨' if val > 150 else '나쁨' if val > 80 else '보통') for key, val in dusts.items()}
print(result)

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '매우나쁨'}

In [8]:
fruits = {'사과', '바나나', '수박'}
fruits.add('포도')
fruits.add('포도')
print(fruits)

{'수박', '사과', '포도', '바나나'}

In [10]:
fruits = {'사과', '바나나', '수박'}
fruits.update({'토마토', '토마토', '딸기'})
fruits.update('레몬')
print(fruits)

{'수박', '바나나', '딸기', '몬', '사과', '토마토', '레'}

In [11]:
fruits = {'사과', '바나나', '수박'}
fruits.remove('사과')
fruits.remove('메론')
print(fruits)

KeyError: '메론'

In [12]:
fruits = {'사과', '바나나', '수박'}
fruits.discard('메론')
print(fruits)

{'수박', '사과', '바나나'}

In [13]:
a = {'사과', '바나나', '수박', '아보카도'}
a.pop()
print(a)

{'사과', '바나나', '아보카도'}

In [15]:
numbers = [1, 2, 3]
result = ''
for num in numbers:
    result += str(num)
print(result)

123

In [19]:
numbers = [1, 2, 3]
result = ''.join(list(map(str, numbers)))
print(result)

123

In [22]:
numbers = [1, 2, 3]
result = ''.join([str(number) for number in numbers])
print(result)

123

In [23]:
chars = ['1', '2', '3']
result = (list(map(int, chars)))
print(result)

[1, 2, 3]

In [24]:
result = [int(char) for char in chars]
print(result)

[1, 2, 3]

In [25]:
def cube(n):
    return n**3

numbers = [1, 2, 3, 4, 5]
list(map(cube, numbers))

[1, 8, 27, 64, 125]

In [26]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']
print(list(zip(girls, boys)))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

In [27]:
{girl: boy for girl in girls for boy in boys}

{'jane': 'kim', 'iu': 'kim', 'mary': 'kim'}

In [28]:
a = '123'
b = '567'
for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

1 5
2 6
3 7

In [29]:
num1 = [1, 2, 3]
num2 = ['1', '2']
list(zip(num1, num2))

[(1, '1'), (2, '2')]

In [30]:
from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue=0))

[(1, '1'), (2, '2'), (3, 0)]

In [31]:
def even(n):
    return not n%2

numbers = [1, 2, 3, 4, 5]
list(filter(even, numbers))

[2, 4]

In [32]:
result = [number for number in numbers if not number % 2]
print(result)

[2, 4]